
/* background image */

* {
    margin: 0;
    padding: 0;
    border: none;
}    

html, body {
    height: 100%;
    width: 100%;
}


body {
    background:  url(../images/background-image.JPG) no-repeat center;
    background-size: cover;

}

/* header text  */

.header-text h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    color: #fbfcfd;
    font-size: 80px;
    text-align: left;
    margin: 10px 50px 10px 50px;
}

.header {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
}



/* how to play button  */

.pink-button {
    padding-top: 60px;
}

.how-to-play {
    text-decoration: none;
    padding: 7px 20px;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 500;
    background: #f14f48;
    color: #fbfcfd;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    width: 130px;
}

/* game area  */

.game-area {
    display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-around;
}