
/* background image */

* {
    margin: 0;
    padding: 0;
    border: none;
}    


body {
    background:  url(../images/background-image.JPG) no-repeat center;
    background-size: cover;

}

/* header text  */

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding:20px 15px 20px;
}

.header-text h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    color: #fbfcfd;
    font-size: 27px;
    text-align: left;
    margin: 0px;
}

/* how to play button  */

.how-to-play {
    text-decoration: none;
    padding: 4px 10px;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: 500;
    background: #8f1585;
    color: #fbfcfd;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    width: 130px;
}

.rules {
    margin: 0 auto;
    max-width: 500px;
    padding: 15px; 
}

.rules h2 {
    font-family: 'Lora', serif;
    font-size: 18px;
    font-weight: 600;
    color: #2f77f5;
    text-align: center;
    margin-bottom: 10px;
}

.rules ol {
    list-style-position: inside;
    margin:0;
    padding:0;
}

.rules li {
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: 500;
    color: #fbfcfd;
    padding: 15px 0;
}


/* game area  */

.game-area {
    display:flex;
    flex-direction: column;
}

.game-area .fortune{
    display: flex;   
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    height: 300px;
}

.fortune-teller {
    display:none;
}

.game-area div img {
    height: auto;
    width: 100%;
}

.forms {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

form {
    text-align:center;
}


#answer {
    color: #031471;
    display: none;
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 25px;
    background-color: rgba(255, 244, 244, .39);
    max-width: 70%;
}

#answer.final-horoscope {
    font-size: 18px;
    width: 80%;
    height: 86%;
    color: #031471;
    background-color: rgba(237, 234, 187, .8);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: initial;
}


.game-area .forms label {
    color: #fff;
    display: block;
    /* font-size: 25px; */
    font-size: 18px;
    font-family: 'Lora', serif;
    font-weight: 200;
    padding-bottom: 10px;
}

.game-area .forms input {
    /* width: 350px; */
    width: 241px;
    border-radius: 20px;
    height: 35px;
    font-family: cursive;
    padding: 0px 20px;
    font-size: 18px;
    color:#031471

    /* add the styles for the text font here */
}

.crystal-ball-container {
    width: 320px;
    background: url(../images/crystal-ball.png) no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-size: contain;

}
 .game-area .forms button {
    text-decoration: none;
    padding: 5px 15px;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 500;
    background: #1a438b;
    color: #fbfcfd;
    border-radius: 30px;
    display: block;
    text-align: center;
    width: 120px;
    margin: 20px auto 0;
 }



 .message-container {
     margin: 15px;
     text-align:center;
     height:48px;
 }

 .errors {
     padding: 5px;
     border: 1px solid #4c1e18;
     background-color: #eb4538;
     color: #fff;
     border-radius: 20px;
     display: none;
 }

 .success {
    padding: 5px 10px;
    border: 1px solid #0d190c;
    background-color: #147529;
    color: #fff;
    border-radius: 20px;
    display: none;
}
/* Button area */

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#horoscope {
    order: 1;
}

#start-over {
    order: 2;
}

#remaining-questions {
    order: 0;
}


.button-container button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    padding: 7px 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: 500;
    background: #e03756;
    color: #ffffff;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    width: 260px;
    /* margin-left: 30px;
    margin-right: 20px; */
    margin-bottom: 20px;
    
}

.button-container button.horoscope {
    background: #666666;
}

.hide-mobile {
    display: none;
}
/* @media (min-width:320px) {

.game-area div img {
    display:none;
}
 */

 @media (min-width:768px) {

    .button-container,
    .game-area {
        max-width: 700px;
        margin: 0 auto;
    }

    .game-area .fortune{
        height: auto;
        justify-content: space-between;
    }
    
    .fortune-teller {
        display:block;
    }   

    .game-area div img {
        height: auto;
        width: 240px;
    }

    .message-container {
        margin: 15px auto;
    }

    .errors,
    .success {
        padding: 10px 20px;
    }

    .hide-mobile {
        display: inline;
    }
 }

 @media (min-width:920px) {

    .header {
        flex-direction: row;
        justify-content: space-around;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .game-area div img {
        height: auto;
        width: 240px;
    }

    .button-container {
        flex-wrap: nowrap;
    }

    .button-container button {
        font-size: 16px;
        width: 225px;
    }

 }


@media (min-width:1024px) {

    .button-container,
    .game-area {
        max-width: 960px;
    }

    .header {
        max-width: 1024px;
        padding-right: 15px;
        flex-direction: row;
        padding: 20px 0 40px;
    }

    .header-text h1 {
        font-size: 40px;
    }    

    .how-to-play {
        font-size: 20px;
        padding: 7px 20px;
    }
    
    .game-area {
        max-width: 1024px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .game-area .fortune {
        height: 300px;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    form {
        text-align:left;
        margin: 0 auto;
        max-width: 590px;
    }

    .game-area .forms input {
        width: 350px;
        height: 35px;
        border-radius: 20px;
    }

    .game-area .forms button {
        display: inline-block;
        margin: 0 0 0 20px;
    }

    .success {
        padding: 10px;
    }

    .errors{
        width: 60%;
    }
}

@media (min-width: 1140px) {
    .header {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: row;
    }

    .header-text h1 {
        font-size: 60px;
    }    
    
    .game-area {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .game-area .fortune {
        flex-direction: row;
        height: 300px;
    }

    /* .game-area div img {
        height: 100%;
        width: auto;
    } */

    .game-area .forms input {
        width: 350px;
        height: 35px;
        border-radius: 20px;
    }

    .button-container {
        padding-top: 10px;
    }

    .errors {
        padding: 10px;
        width: 55%
    }
}