
/* background image */

* {
    margin: 0;
    padding: 0;
    border: none;
}    

html, body {
    height: 100%;
    width: 100%;
}


body {
    background:  url(../images/background-image.JPG) no-repeat center;
    background-size: cover;

}

/* header text  */

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0 20px;
}

.header-text h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    color: #fbfcfd;
    font-size: 60px;
    text-align: left;
    margin: 0px;
}

/* how to play button  */

.how-to-play {
    text-decoration: none;
    padding: 7px 20px;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 500;
    background: #f14f48;
    color: #fbfcfd;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    width: 130px;
}

/* game area  */

.game-area {
    display:flex;
    flex-direction: column;
}

.game-area .fortune{
    display: flex;   
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
}

.game-area div img {
    height: 100%;
    width: auto;
}

.game-area .forms label {
    color: #fff;
    display: block;
}

@media (min-width:800px) {

}


@media (min-width:1024px) {

}

@media (min-width: 1140px) {
    .header {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .game-area {
        max-width: 1140px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}